
@import url(./blocks/fonts.css);
@import url(./blocks/wheelfinder.css);
@import url(./blocks/header.css);
@import url(./blocks/form.css);
@import url(./blocks/gallery.css);
@import url(./blocks/griditem.css);


.page {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  max-width: 100%;
  max-height: 100%;
  margin: 10px auto 10px;
}

.display__show{
  background-color: red;
  display: flex;
}

.main {
  display: grid;
  grid-gap: 30px;
  max-width: 100%;
  max-height: 100%;
  grid-template-areas:
    "description gallery wheelfinder"
    "submitphoto gallery wheelfinder";
  grid-template-rows: 266px 48vh;
  /* grid-template-columns: repeat(auto-fill); */
  grid-template-columns: minmax(auto, 251px) minmax(auto, 2000px) 198px;
  margin: auto;
}

.description {
  max-width: max-content;
  grid-area: description;
  font-family: "Sometype Mono";
  font-weight: 700;
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  max-height: 266px;
}

.description__text {
  max-width: 251px;
  margin: 0;
  padding: 0;
}

.submitphoto {
  max-width: max-content;
  grid-area: submitphoto;
  max-width: 251px;
}

.submitphoto__title {
  font-family: "Sometype Mono";
  font-weight: 700;
  color: white;
  margin: 18px auto 10px 0px;
  padding: 0px;
  font-size: 28px;
}

.submitphoto__description {
  font-family: "Sometype Mono";
  font-weight: 700;
  color: white;
  margin: 18px auto;
  padding: 0px;
  font-size: 16px;
}

/* .gallery::-webkit-scrollbar {
  display: none;
} */

/* .gallery {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  background-color: rgba(173, 173, 173, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.required {
  color: red;
}

/* .form__label-upload {
} */

input::-webkit-file-upload-button {
  font-family: "Sometype Mono";
  font-weight: 700;
  color: black;
  background: D9D9D9;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  border: none;
  width: 100%;
  text-align: center;
}






