.page {
  font-family: "Flexi IBM VGA";
  color: #f4fffe;
  height: 100%;
  width: 100%;
  font-size: clamp(14px, 2.4vw, 24px);
  margin: clamp(5px, 1vw, 20px);
  overflow-y: auto;
  padding: 10px;
}

.page__canvas {
  mix-blend-mode: multiply;
}
