.page {
  font-family: "Flexi IBM VGA";
  color: #f4fffe;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.page__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page__text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  font-size: clamp(12px, 3vw, 40px);
  border: 2px solid #f4fffe;
}

.page__text:hover {
  border: 2px solid transparent;
  color: black;
  background-color: #f4fffe;
}
