.page {
  display: flex;
  width: 100%;
  min-height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Flexi IBM VGA", monospace;
  user-select: none;
  position: relative;
}

.tape-player {
  width: 100%;
  height: auto;
  margin: 4px 20px;
  display: flex;
  flex-direction: column;
}

.tape-player__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tape-player__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: clamp(12px, 7vw, 40px);
}

.header__text {
  font-size: clamp(12px, 4vw, 20px);
}

.song-selector {
  height: calc(100% - 4px);
  width: 100%;
  border: 2px solid #f4fffe;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  position: relative;
}

.song-selector__song {
  padding: 2px 5px;
  border: 2px solid transparent;
}

.song-selector__song:hover {
  border: 2px solid #f4fffe;
}

.song-selector__song.active {
  background-color: #f4fffe;
  color: black;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.button {
  color: #f4fffe;
  height: 100%;
  width: 100%;
  border: 3px solid #f4fffe;
  background-color: transparent;
}

.button.active {
  color: black;
  background-color: #f4fffe;
}

.button:active {
  color: black;
  background-color: #f4fffe;
}

.message-overlay {
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  transition: 0.2s opacity cubic-bezier(0.075, 0.82, 0.165, 1);

  opacity: 0;
}

.message-overlay.active {
  z-index: 999;
  visibility: visible;
  color: #f4fffe;
  opacity: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.849);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page__loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 12, 22, 0.604);
  backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page__loading.active {
  z-index: 2000;
  pointer-events: all;
  opacity: 1;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.reset-button {
  width: 100%;
  height: 40px;
  border: 2px solid #f4fffe;
  background-color: #f4fffe;
  font-family: "Flexi IBM VGA", monospace;
  font-size: 15px;
  color: black;
}

.reset-button:active {
  background-color: transparent;
  color: #f4fffe;
}

@media screen and (max-width: 700px) {
  .tape-player__container {
    flex-direction: column;
  }

  .song-selector {
    max-height: 120px;
  }
}

@media (pointer: fine) {
  .button:hover {
    background-color: #f4fffe69;
  }
}
