.page {
  display: flex;
  width: 100%;
  min-height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Flexi IBM VGA", monospace;
}

.tape-player{
  width: 100%;
  height: auto;
  margin: 4px 20px;
}

.tape-player__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  font-size: clamp(12px, 7vw, 40px)
}

.header__text{
  font-size: clamp(12px, 4vw, 20px)
}

.song-selector{
  height: 100px;
  border: 2px solid #f4fffe;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.song-selector__song{
  padding: 2px 5px;
  border: 2px solid transparent;
}

.song-selector__song:hover{
  border: 2px solid #f4fffe
}

.song-selector__song.active{
  background-color: #f4fffe;
  color: black;
}

.controls{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 6px;
}