@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Flexi IBM VGA";
  src: url(./assets/fonts/Flexi_IBM_VGA_False.ttf);
}

@font-face {
  font-family: "Handwriting";
  src: url(./assets/fonts/My_handwriting.ttf);
}

@font-face {
  font-family: "Ovo";
  src: url(https://fonts.googleapis.com/css2?family=Ovo&display=swap);
}

@font-face {
  font-family: "Letter Gothic Std Medium";
  font-style: normal;

  font-weight: normal;
  src:
    local("Letter Gothic Std Medium"),
    url("LetterGothicStd.woff") format("woff");
}

@font-face {
  font-family: "Letter Gothic Std Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Letter Gothic Std Bold"),
    url("LetterGothicStd-Bold.woff") format("woff");
}

@font-face {
  font-family: "Authentic Sans";
  font-weight: 100 900;
  src: url(./assets/fonts/authentic-sans-60.woff2);
}

@font-face {
  font-family: "Paragon";
  src: url(./assets/fonts/Paragon-Regular.otf);
}

@font-face {
  font-family: "Paragon";
  font-style: italic;
  src: url(./assets/fonts/Paragonitalic-Regular.otf);
}

@font-face {
  font-family: "Paragon-Glitch";
  src: url(./assets/fonts/P-ACR-AGON-Regular.otf);
}

@font-face {
  font-family: "Swiss Grit";
  src: url(./assets/fonts/SwissGrit.otf);
}

@font-face {
  font-family: "Swiss Grit Dingbats";
  src: url(./assets/fonts/SwissGritDingbats.otf);
}

@font-face {
  font-family: "Creatinin";
  src: url("./assets/fonts/creatinin-pro.otf");
}

:root {
  margin: 0;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    54deg,
    rgb(28, 28, 30) 0%,
    rgb(24, 24, 27) 48%,
    rgb(43, 46, 49) 100%
  );
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100svw;
  height: 100svh;
  font-family: "Flexi IBM VGA", monospace;
}

a {
  display: flex;
  color: inherit;
  text-decoration: inherit;
}

a.active {
  background-color: #f4fffe;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: black;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
