.page {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-right: 2px solid #f4fffe;
}

.frame {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #f4fffe;
}

.page.hidden {
  max-width: min-content;
  overflow: hidden;
}
